@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <p> Test Project. Knowledge Management</p>
    <h3>Created by Pavlov A.</h3>
    <h5>user: admin  </h5>
    <h5>password: 111111</h5>
</div>

<div>
    <div id="header1">Шапка сайта</div>
    <div id="sidebar1">Правый сайдбар</div>
    <div id="main1">
        <div id="menu1">Меню</div>
        <div id="content1">
            <div class="column1_3">
                Борщага точно она
            </div>
            <div class="column2_3">
                12.23
            </div>
        </div>
        <div id="content2">Основное содержимое 2</div>
    </div>
    <div id="footer1">Футер</div>
</div>